#hidden-input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  height: 0;
  width: 0;
}

.correct {
  color: black;
}

.incorrect {
  color: red;
}

.current {
  background-color: rgb(5, 193, 90);
}

.pending {
  color: gray;
}