#player-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.player {
    display: flex;
    justify-content: space-between;
    color: rgb(51, 58, 69);
    padding: 10px;
    margin-bottom: 20px;
    width: 75%;
    max-width: 500px;
    border-radius: 5px;
}

.removed {
    filter: brightness(40%);
}